div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.icon{
    height: 50px;
    width: 60px;
}
.youtube{
    color: red;

}
.Facebook{
    color: skyblue;

}
.twittwe{
    color: red;
}


